nav, ul li {
  display: inline-block;
  border: 3px solid #2C3639;
  width: 100%;
  position:fixed;
  list-style-type: none;
  padding: 10px 10px 10px 20px;
  margin-top: 5;
  margin-left: auto;
  background-color: #A27B5C;
  align-content: center;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: auto;
    z-index: 1;
}
  .dropdown:hover .dropdown-content {
    display: block;
}
  li a:hover .dropdown:hover .dropbtn {
    background-color: whitesmoke;
}

  .dropdown-content a{
    color: black;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
  .dropdown-content a:hover {
    background-color: #A27B5C;
}
  
 