body{
    background-image: linear-gradient(#2C3639, #3F4E4F, #A27B5C, #DCD7C9);
}
h1 {
    color: #ad550e;
}
.fpar::first-letter {
    color: #ad550e;
    font-size: 200%;
  }
.reflection{
    text-indent: 50px;
}

.fpar, .spar, .tpar, .lpar{
background-color: #A27B5C;
padding: 50px;
margin: 20px;
}

footer, .centered{
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    width: auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;

}
.left{
    display: flex;
    text-align: left;
    align-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    width: auto;
    height:auto;
    margin-left: auto;
    margin-right:auto;
}
.image{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    display:block;
}

@media (max-width: 600px){
body {
    font-size: 1.25rem;
}
.image{
    scale: 50%;
}
nav, ul li {
    display: inline-block;
    border: 3px solid #2C3639;
    width: 200px;
    list-style-type: none;
    padding: 10px 10px 10px 20px;
    margin-top: 5;
    margin-left: auto;
    background-color: #A27B5C;
    align-content: center;
  }
}


