h1 {color: #ad550e}
.fpar::first-letter {
    color: #ad550e;
    font-size: 200%;
  }
p .spar .tpar .lpar::first-line{
    text-indent: 20%;
}
footer{
    text-align: center;
    align-content: center;
}
.fpar .spar .tpar .lpar{
background-color: whitesmoke;
padding: 50px;
margin: 20px;
}